{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Checkout{% endblock %}
{% block content %}

{% if not billing_profile %}
<div class="container" >
 <div class="row text-center ">
    <div class="col-12 col-md-6">
        <p class="lead" >Login</p>
        <form action='{% url 'accounts:login_url' %}' method="post">
            {% if next %}
            <input name='next' value="{{ next_url }}" type="hidden">
            {% endif %}
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-success" type="submit" value="Log In">
        </form>
    </div>
    <div class="col-12 col-md-6 mt-3 " >
        <p class="lead" >Continue as Guest</p>
        <form class="" action='{% url 'accounts:guest_register' %}' method="post">
            {% if next %}
            <input name='next' value="{{ next_url }}" type="hidden">
            {% endif %}
            {% csrf_token %}
            {{guest_form|crispy}}
            <input class="btn btn-primary" type="submit" value="Continue">
        </form>
    </div>
 </div>
</div>

{% else %}
  {% if not order.shipping_address and shipping_address_required %}
  <div class="row container ">
    <div class="col-12" >
      <h3 class="mt-2 ml-1">Shipping Address</h3>
        <hr>
    </div>
      <div class="col-6 " >
            {% url 'address_create' as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
          </div>
          <div class="col-6">
            {% url 'address_reuse' as address_reuse %}
          {% include 'addresses/prev_addresses.html' with action_url=address_reuse address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' %}
        </div>
  </div>
  {% elif not order.billing_address %}
  <div class="row container ">
    <div class="col-12" >
      <h3 class="mt-2 ml-1">Billing Address</h3>
      <hr>
    </div>
      <div class="col-6">
      {% url 'address_create' as checkout_address_create %}
      {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
    </div>
    <div class="col-6">
      {% url 'address_reuse' as address_reuse %}
      {% include 'addresses/prev_addresses.html' with action_url=address_reuse address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' %}
    </div
    </div>
   
  {% else %}
    <h2 class="ml-2" >Review Checkout</h2>
    <div class="container" >
      <div class="lead" >
        <p>Cart Items: {%for product in order.cart.products.all%}{{ product }}{% if not forloop.last %},<br>{% endif %}{% endfor %}</p>
        <p>Shipping Address: {{order.shipping_address_final}}</p>
        <p>Billing Address: {{order.billing_address_final}}</p>
        <p>Cart Total: {{ order.cart.total }}</p>
        <p>Shipping Total: {{ order.shipping_total }}</p>
        <p><b>Order Total: {{ order.total }}</b></p>
      </div>
        <form method="POST" action="" class="form">
          {% csrf_token %}
        <button type="submit" class="btn btn-primary" >Checkout</button>
        </form>
    </div>
  {% endif %}
{% endif %}
{% endblock %}
